alias h='history'
alias tailf='tail -f'

alias todo='$EDITOR ~/todo'
alias mux='tmuxinator'
alias d='TZ=UTC date +%F:%X'
alias agrep='alias | grep'

alias pg_start="launchctl load ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist"
alias pg_stop="launchctl unload ~/Library/LaunchAgents/homebrew.mxcl.postgresql.plist"

alias m='mvim .'
